<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta charset="utf-8">
	<meta lang="en-au">
	<title>empocketer 2 demo</title>

</head>
<body>
  <div id="home">
    <main class="main">
      <div id="logo">
        <h1>Empocketer</h1>
        <a href="/login" id="login">
          Log in
        </a>
      </div>
      <div></div>
    </main>
    <footer class="footer">
      <div>An RSS to Pocket app by <a href="https://www.hughrundle.net">Hugh Rundle</a></div>
    </footer>
  </div>
</body>
</html>